/* removing browser default styling And Setting default styles*/
* {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

/* Applying flex to body for Calc center alignment */
body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Calc {
    background-color: #22262c;
    padding: 18px;
    border-radius: 20px;
    width: 320px;
    margin: 10px;
}

.display {
    /* user-select:all; */
    overflow-x: auto;
    /* Show scrollbar only when numbers are too long */
    overflow-y: hidden;
    /* Prevent vertical scrolling */
    white-space: nowrap;
    /* Keep all numbers on one line */
    min-height: 58px;
    font-size: 36px;
    font-weight: 450;
    margin: 28px 3px 18px;
    /* background-color: #cccccb; */
    color: white;
    padding: 10px 20px 0px 10px;
    border-radius: 9px;
    text-align: right;
}

.display::-webkit-scrollbar {
    display: none;
}

.inputs {
    /* border: 2px solid rgb(69, 68, 68); */
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 6px;
    column-gap: 0px;
    grid-auto-rows: auto;
    align-items: baseline;
}

.inputs ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

/* Shaping buttons Round*/
li {
    outline: none;
    /* Remove focus outline */
    user-select: none;
    /* Prevent text selection */
    margin: 1.5px;
    padding: 12px 0px;
    text-align: center;
    width: 45px;
    color: black;
    font-size: 20px;
    font-weight: 700;
    border-radius: 40%;
    margin: 1.5px;
    background-color: #ffd900;
}

/* Addng li hover effect */
li:hover {
    background-color: #ffbb00;
    color: black;
}

.command {
    grid-column: 1 / 6;
    grid-row: 1;
    gap: 3px;
}

.number {
    grid-column: 1 / 4;
    grid-row: 2;
}

.operator {
    grid-column: 4 / 6;
    grid-row: 2;
}

body>i {
    position: absolute;
    right: 20px;
    bottom: 20px;
}